/*CSS Begins here*/
      html,script,* {
          font-family: "Nunito";
      }
      p {
          color: rgb(0, 0, 0);
          line-height: 1.4;
      }
      strong {
          color: rgb(25, 121, 255);
          padding-right: 2;
          padding-left: 2;
          padding-bottom: 2;
          
      }
      span.itemcount {
          color: rgb(255, 25, 132);
          font-weight: bold;
      }
      span.quest {
          color:rgb(28, 16, 157);
          text-decoration-line: underline;
      }
      span.quest-doing {
        color:rgb(28, 16, 157);
        text-decoration-line: underline;
        background-color: rgba(255, 225, 0, 0.462);
    }
      span.quest-done {
          color:rgb(115, 139, 120);
          text-decoration-line:underline;
      }
      p.description{
          background-color: rgb(249, 251, 253);
          line-height: 1.8;
          margin-top: 16px;
          border: #f9fcff;
          border-style:ridge;   }
      span.one{
            background-color: rgb(249, 251, 253);
            line-height: 1.8;
            margin-top: 16px;
            font-weight: 600;
            font-size: 20px;
            color: #2148f4;
             }
             span.two{
              background-color: rgb(249, 251, 253);
              line-height: 1.8;
              margin-top: 16px;
              font-weight: 600;
              font-size: 20px;
              color: #f42167;
               }
      span.item{
          color:rgb(14, 102, 245);
          font-weight: 600;
          padding-right: 2;
          padding-left: 2;
      }
      span.thing{
        color:rgb(72, 14, 245);
          font-weight: 600;
          padding-right: 2;
          padding-left: 2;
      }
      span.concept{
        color:rgba(245, 14, 114, 0.731);
          font-weight: 600;
          padding-right: 2;
          padding-left: 2;
      }
      span.key{
          color:rgb(199, 11, 92);
          font-weight: 600;
          padding-right: 2;
          padding-left: 2;
      }
      h3.quest-area{
        background-color: #135fd9d3;
        color: white;
        cursor: pointer;
        padding: 02px;
        text-align: left;
        padding-inline: 0.4em;
        color: #f7f1f1;
          border-radius: 6px;
        font-weight: bolder;
          padding-bottom: 8px;
          margin-bottom: 0px;
        margin-top: 30px;
      }
      h2.quest-open{
          background-color: #2063ff;
          color: white;
          cursor: pointer;
          padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
            background-color: rgba(44, 99, 249, 0.914);
            color: #f7f1f1;
            border-radius: 6px;
            font-weight: bolder;
            padding-bottom: 8px;
            margin-bottom: 8px;
            margin-top: 30px;
        }
        h2.quest-done{
          background-color:rgb(124, 248, 155);
          color:rgb(11, 11, 11);
          padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
            border-radius: 6px;
            font-weight: bolder;
            padding-bottom: 8px;
            margin-bottom: 8px;
            margin-top: 30px;
        }
        h2.quest-progress{
          padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
            color: #fbf6f6;
            border-radius: 6px;
            font-weight: bolder;
            padding-bottom: 8px;
            margin-bottom: 8px;
            margin-top: 30px;
            background-color:rgb(250, 92, 124);
        }
        h1.quest{
          color:rgb(5, 45, 45);
          padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
            color: #191313;
            border-radius: 6px;
            font-weight: bolder;
            padding-bottom: 8px;
            margin-bottom: 8px;
            margin-top: 8px;
            background-color:DodgerBlue;
            color:rgb(248, 251, 254)
        }
        li,span{
          background-color:rgb(242, 249, 252);
          padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
            color: #191313;
            border-radius: 6px;
            padding-bottom: 8px;
            margin-bottom: 8px;
            margin-top: 2px;
        }
        p{
          background-color:rgb(229, 229, 229);
          padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
            color: #191313;
            border-radius: 8px;
            padding-bottom: 8px;
            margin-bottom: 8px;
            margin-top: 8px;
        }
        a{
          background-color:rgb(242, 249, 252);
          color: #2063ff;
        }
        button{  color:rgb(5, 45, 45);
          padding: 03px;
          text-align: left;
          padding-inline: 0.3em;
            color: #191313;
            border-radius: 6px;
            font-weight: bolder;
            padding-bottom: 5px;
            margin-bottom: 4px;
            margin-top: 8px;
            background-color:rgba(30, 71, 255, 0.72);
            color:rgb(248, 251, 254)
        }
        .content {
          padding: 0 18px;
          display: show;
          overflow: hidden;
        }
        .collapsible:after {
          content: '-'; 
          font-size: 18px;
          color: rgb(250, 254, 250);
          float: right;
          padding-inline: 4px;
          padding-bottom: 0px;

        }
        div.area{
          background-color: rgba(245, 250, 254, 0.578);
        }
        .collapsible{
        content: '+'; 
          font-size:16px;
          font-family:"Nunito";
          cursor: pointer;
          text-align: left;
            background-color: rgba(44, 99, 249, 0.914);
            color: #f7f1f1;
            font-weight: bolder;
            width: 100%;
            height: 65;
            margin: auto;
        }
        .collapsible2{
          content: '+'; 
            font-size:16px;
            font-family:"Nunito";
            cursor: pointer;
            text-align: left;
              background-color: rgba(44, 99, 249, 0.914);
              color: #f7f1f1;
              font-weight: bolder;
              width: 100%;
              height: 45;
              margin: auto;
          }
/* Style the list */
ul.breadcrumb {
padding: 10px 16px;
list-style: none;
background-color: #1abe7402;
}
/* Style the list */
ul.no {
padding: 10px 16px;
list-style: none;
background-color: #1abe7402;
}
/* Display list items side by side */
/**ul.breadcrumb {
font-size: 18px;
color:#313886;
padding-left: 04px;
padding-bottom: 2px;
padding-top: 2px;
content:url("/Code/Language/HTML/gold-star(inf-sm).gif");
}**/

li {
padding: 4px;
color: black;
content: "o";
list-style:none;

}
li.pause::before {
  content: "  " url("/Code/Language/HTML/image/brown-star\(sm\).png");
  padding-right:8px;
  }
li.done::before {
content: "  " url("/Code/Language/HTML/image/gold-star(inf-sm).gif");
padding-right:8px;
}

li.doing::before {
content: " " url("/Code/Language/HTML/image/pink-star\(sm\).png");
padding-right:8px;
}
li.void::before {
  content: " " url("/Code/Language/HTML/image/no-star(sm).png");
  padding-right:8px;
  }
  li.cal::before {
    content: " " url("/Code/Language/HTML/image/blue-star(sm).png");
    }
    li.lock::before {
      content: " " url("/Code/Language/HTML/image/no-star(sm).png");
      padding-right:8px;
      }
      li.late::before {
        content: " " url("/Code/Language/HTML/image/red-star(sm).png");
        padding-right:8px;
        }
      li.wait::before {
        content: " " url("/Code/Language/HTML/image/purple-star(sm).png");
        padding-right:8px;
        }
        li.rest::before {
          content: " " url("/Code/Language/HTML/image/green-star\(sm\).png");
          padding-right:8px;
          }
          li.review::before {
            content: " " url("/Code/Language/HTML/image/blue-star\(sm\).png");
            padding-right:8px;
            }
            li.again::before {
              content: " " url("/Code/Language/HTML/image/blue-star\(sm\).png");
              padding-right:8px;
              }
li.no::before {
  content: " " ;
  padding-right:8px;
  }

  li.no::after {
    content: "a ";
    margin-left: 20px;
    background-color: rgb(213, 213, 207);
    padding: 02px;
              text-align: left;
              padding-inline: 0.4em;
              color: #ba5050;
              border-radius: 8px;;
              float:right; }

li::before {
content: " " url("/Code/Language/HTML/image/no-star1\(sm\).png");
padding-right:8px;
}

li::after {
content: "open";
margin-left: 20px;
background-color: rgb(213, 213, 207);
padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
          color: #191313;
          border-radius: 8px;;
          float:right;
}
li.late::after {
content: "due";
margin-left: 20px;
background-color: rgb(231, 3, 3);
padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
          color: #fefbfb;
          border-radius: 8px;;
          float:right;
}
li.next::after {
  content: "next";
  margin-left: 20px;
  background-color: rgba(238, 214, 2, 0.897);
  padding: 02px;
            text-align: left;
            padding-inline: 0.4em;
            color: #040404;
            border-radius: 8px;;
            float:inline-end;
  }
li.lock::after {
  content: "locked";
  margin-left: 20px;
  background-color: rgba(84, 7, 7, 0.897);
  padding: 02px;
            text-align: left;
            padding-inline: 0.4em;
            color: #c4c3c3;
            border-radius: 8px;;
            float:inline-end;
  }
  li.cal::after {
    content: "scheduled";
    margin-left: 20px;
    background-color: rgba(43, 133, 243, 0.981);
    padding: 02px;
              text-align: left;
              padding-inline: 0.4em;
              color: #ffffff;
              border-radius: 8px;;
              float:inline-end;
    }
    li.wait::after {
      content: "wait";
      margin-left: 20px;
      background-color: rgba(159, 29, 245, 0.651);
      padding: 02px;
                text-align: left;
                padding-inline: 0.4em;
                color: #ffffff;
                border-radius: 8px;;
                float:inline-end;
      }
    li.rest::after {
      content: "rest";
      margin-left: 20px;
      background-color: rgba(2, 250, 126, 0.997);
      padding: 02px;
                text-align: left;
                padding-inline: 0.4em;
                color: #000000;
                border-radius: 8px;;
                float:inline-end;
      }
      li.void::after {
        content: "void";
        margin-left: 20px;
        background-color: rgba(46, 4, 53, 0.44);
        padding: 02px;
                  text-align: left;
                  padding-inline: 0.4em;
                  color: #f8e8e8;
                  border-radius: 8px;;
                  float:inline-end;
        }
        li.review::after {
          content: "review";
          margin-left: 20px;
          background-color: rgb(0, 68, 255);
          padding: 02px;
                    text-align: left;
                    padding-inline: 0.4em;
                    color: #f8e8e8;
                    border-radius: 8px;;
                    float:inline-end;
          }
          li.again::after {
            content: "again";
            margin-left: 20px;
            background-color: rgb(0, 51, 255);
            padding: 02px;
                      text-align: left;
                      padding-inline: 0.4em;
                      color: #f8e8e8;
                      border-radius: 8px;;
                      float:inline-end;
            }
li.doing::after {
content: "in-progress";
margin-left: 20px;
background-color: rgba(255, 56, 116, 0.897);
padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
          color: #fff7f7;
          border-radius: 8px;;
          float:inline-end;
}
li.done::after {
content: "done";
margin-left: 20px;
background-color: rgb(56, 255, 116);
padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
          color: #191313;
          border-radius: 8px;
          padding: right 2px;

}
li.pause::after {
content: "paused";
margin-left: 20px;
background-color: rgba(195, 140, 46, 0.505);
padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
          color: #794e4e;
          border-radius: 8px;;
          float:right;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
padding: 4px;
color: black;
content:url("/Code/Language/HTML/gold-star(inf-sm).gif");
padding-right:8px;
}
ul.no li:before {
padding: 4px;
color: black;
content:url(" ");
padding-right:8px;
content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}
ul.no li:after {
  padding: 4px;
  color: black;
  content:none;
  padding-right:8px;
  }

/* Add a color to all links inside the list */
ul.breadcrumb li a {
color: #5863a6af;
text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
color: #01447e;
text-decoration: underline;}

ul.done li+li:before {
  padding: 4px;
  color: black;
  content: "💚";
}
/* Style badges inside the list group */
span.badge0 {
background-color: rgba(17, 4, 79, 0.845);
color: #fff;
font-weight: bold;
border-radius: 8px;
padding: 2px 5px;
text-align: center;
margin-inline-start: 20px;
float:right;
}
/* Style badges inside the list group */
span.badge1 {
background-color: rgba(255, 0, 72, 0.845);
color: #f8f5f5;
font-weight: bold;
border-radius: 8px;
padding: 2px 5px;
text-align: center;
margin-inline-start: 20px;
float:right;
}
span.badge2 {
background-color: rgba(0, 255, 145, 0.845);
color: #171414;
font-weight: bold;
border-radius: 8px;
padding: 2px 5px;
text-align: center;
margin-inline-start: 10px;
float:right;
}
ul.doing{
background-color: rgba(199, 208, 231, 0.751);
padding: 02px;
text-align: left;
padding-inline: 0.4em;
color: #292121;
border-radius: 8px;;
}

table,td,th{
  border-collapse: collapse;
  padding-right: 33px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-top:5px;
  border-style:outset;
  background-color: #eef4fd;;
}
th{
  background-color: rgba(44, 99, 249, 0.914);
  color: #f7f1f1;
  font-weight: bolder;
}
th:first-of-type {
  border-top-left-radius: 08px;
}
th:last-of-type {
  border-top-right-radius: 08px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 08px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 08px;
}
td:first-of-type {
background-color: rgba(44, 99, 249, 0.914);
color: #eef4fd;
border-radius: 6px;
border-style:outset;
font-weight: 600;;
}
table.habit,tr.habit,td.habit {
padding-right: 12px;
text-align: center;

}
div.gold-star{
  background-image:url('../image/gold-star\(inf-sm\).gif');
  padding: 12.4px;
   background-repeat: no-repeat;
}
div.no-star{
  background-image:url('../image/no-star1\(sm\).png');
  padding: 12.4px;
  background-repeat: no-repeat;
}

ul.inv li:before{
  content:url('../image/gold-star\(inf-sm\).gif');
  background-color: rgb(246, 243, 245);
  padding: 2px;
            text-align: left;
            color: #f4efef;
            border-radius: 8px; /*rounding span*/
            padding: 8px; /*size of item box*/
            border-style: outset;
}

ul.inv li{ 
  background-color: #566f9522;
  padding-bottom: 12px;
  padding-block: 23;
  position: relative;
  right: 24px;
}

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid rgb(39, 14, 200);
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(45, 45, 129, 0.973);
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 12px 12;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  select {
    padding: 2px 2px;
    border: none;
    border-radius: 10px;
    background-color: #e2d4d4;
    float:right;
  }
