/*CSS Begins here*/
      html,script,* {
          font-family: "Nunito";
      }
      p {
          color: rgb(0, 0, 0);
          line-height: 1.4;
      }
    strong,b,hw {
          color: rgb(25, 121, 255);
          padding-right: 2;
          padding-left: 2;
          padding-bottom: 2;
          
      }
      
      span.itemcount,i {
          color: rgb(255, 25, 132);
          font-weight: bold;
      }
      span.quest {
          color:rgb(28, 16, 157);
          text-decoration-line: underline;
      }
      span.quest-doing {
        color:rgb(28, 16, 157);
        text-decoration-line: underline;
        background-color: rgba(255, 225, 0, 0.462);
    }
      span.quest-done {
          color:rgb(115, 139, 120);
          text-decoration-line:underline;
      }
      p.description{
          background-color: rgb(249, 251, 253);
          line-height: 1.8;
          margin-top: 16px;
          border: #f9fcff;
          border-style:ridge;   }

          p.no-read{
            line-height: 1.8;
            margin-top: 16px;
            border: #f9fcff;
            border-style:ridge;   }

            p.read{
              background-color: rgb(249, 251, 253);
              line-height: 1.8;
              margin-top: 16px;
              border: #b32ef0;
              border-style:ridge;
            border-width: 3px;}

      span.one{
            background-color: rgb(249, 251, 253);
            line-height: 1.8;
            margin-top: 16px;
            font-weight: 600;
            font-size: 20px;
            color: #2148f4;
             }
             span.two{
              background-color: rgb(249, 251, 253);
              line-height: 1.8;
              margin-top: 16px;
              font-weight: 600;
              font-size: 20px;
              color: #f42167;
               }
      span.item,hw{
          color:rgb(14, 102, 245);
          font-weight: 600;
          padding-right: 2;
          padding-left: 2;
      }
      span.thing{
        color:rgb(72, 14, 245);
          font-weight: 600;
          padding-right: 2;
          padding-left: 2;
      }
      span.concept{
        color:rgba(245, 14, 114, 0.731);
          font-weight: 600;
          padding-right: 2;
          padding-left: 2;
      }
      span.key{
          color:rgb(199, 11, 92);
          font-weight: 600;
          padding-right: 2;
          padding-left: 2;
      }
      h3.quest-area{
        background-color: #135fd9d3;
        color: white;
        cursor: pointer;
        padding: 02px;
        text-align: left;
        padding-inline: 0.4em;
        color: #f7f1f1;
          border-radius: 6px;
        font-weight: bolder;
          padding-bottom: 8px;
          margin-bottom: 0px;
        margin-top: 30px;
      }
      h2.quest-open{
          background-color: #2063ff;
          color: white;
          cursor: pointer;
          padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
            background-color: rgba(44, 99, 249, 0.914);
            color: #f7f1f1;
            border-radius: 6px;
            font-weight: bolder;
            padding-bottom: 8px;
            margin-bottom: 8px;
            margin-top: 30px;
        }
        h2.quest-done{
          background-color:rgb(124, 248, 155);
          color:rgb(11, 11, 11);
          padding: 02px;
          text-align: right;
          padding-inline: 0.4em;
            border-radius: 6px;
            font-weight: bolder;
            padding-bottom: 8px;
            margin-bottom: 8px;
            margin-top: 30px;
            float:right;
        }
        h2.quest-progress{
          padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
            color: #fbf6f6;
            border-radius: 6px;
            font-weight: bolder;
            padding-bottom: 8px;
            margin-bottom: 8px;
            margin-top: 30px;
            background-color:rgb(250, 92, 124);
        }
        h1.quest{
          color:rgb(5, 45, 45);
          padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
            color: #191313;
            border-radius: 6px;
            font-weight: bolder;
            padding-bottom: 8px;
            margin-bottom: 8px;
            margin-top: 8px;
            background-color:rgb(28, 136, 244);
            color:rgb(248, 251, 254)
        }
       ul li,li,span {
          background-color:rgb(242, 249, 252);
          padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
            color: #191313;
            border-radius: 6px;
            padding-bottom: 8px;
            margin-bottom: 8px;
            margin-top: 2px;
        }
        p{
          background-color:rgb(229, 229, 229);
          padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
            color: #191313;
            border-radius: 8px;
            padding-bottom: 8px;
            margin-bottom: 8px;
            margin-top: 8px;
        }
        a{
          background-color:rgb(242, 249, 252);
          color: #2063ff;
        }
        button{  color:rgb(5, 45, 45);
          padding: 03px;
          text-align: left;
          padding-inline: 0.3em;
            color: #191313;
            border-radius: 6px;
            font-weight: bolder;
            padding-bottom: 5px;
            margin-bottom: 4px;
            margin-top: 8px;
            background-color:rgba(30, 71, 255, 0.72);
            color:rgb(248, 251, 254)
        }

        button.skill {
          float:right;
          background-color:rgb(225, 204, 222);bottom:12px;
          position:relative;
          width:25;
          height:25;
        }

          input.skill {
          /*input id="lvl2" value="0">*/
          width:39px;
          font-family:Nunito;
          font-size:large;
          float:right; 
          border:0px;
          background-color:rgb(245, 217, 243);border-radius:9px;
        }
        input.in {
          outline:none;
          border:none;
          padding: 10px;
            background-color:rgb(242, 249, 252);
            padding: 02px;
            text-align: left;
            padding-inline: 0.4em;
              color: #191313;
              border-radius: 6px;
              padding-bottom: 8px;
              margin-bottom: 8px;
              margin-top: 2px;
              font-size: 16px;
        }

        .dropdown:hover .dropbtn {
          background-color: #d9ad4f;
        }

        .dropdown:hover .dropdown-content {
          display:flow-root;

        }

        .dropbtn {
          color: white;
          padding: 4px;
          font-size: 16px;
          cursor: pointer;
          border-radius: 14px;
 
      
        }


        .dropdown-content a {
          color: black;
          padding: 10px 16px; /*adjust spacing of content*/
          text-decoration: none;
          display: block;
          border-radius: 14px;
          

        }
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 16px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
          border-radius: 14px;
        }
        
        .dropdown-content a:hover {background-color: #f1f1f1;}

        .content {
          padding: 0 18px;
          display: show;
          overflow: hidden;
          background-color: rgba(150, 174, 195, 0.578);
        }
        .collapsible:after {
          content: '-'; 
          font-size: 18px;
          color: rgb(250, 254, 250);
          float: right;
          padding-inline: 4px;
          padding-bottom: 0px;

        }
        div.area,div.content{
          background-color: rgba(228, 231, 235, 0.578);
        }
        .collapsible{
        content: '+'; 
          font-size:16px;
          font-family:"Nunito";
          cursor: pointer;
          text-align: left;
            background-color: rgba(44, 99, 249, 0.914);
            color: #f7f1f1;
            font-weight: bolder;
            width: 100%;
            height: 65;
            margin: auto;
        }
        .collapsible2{
          content: '+'; 
            font-size:14px;
            font-family:"Nunito";
            cursor: pointer;
            text-align: left;
              background-color: rgba(44, 99, 249, 0.914);
              color: #f7f1f1;
              font-weight: bolder;
              width: 100%;
              height: 45;
              margin: auto;
              margin-bottom: 4px;
              border: #000000;
              border-style:inset;
          }
          .collapsible3{
            content: " "url("../image/red-star.png"); 
              font-family:"Nunito";
              cursor: pointer;
              text-align: left;
              font-weight: bolder;
              margin: auto;
              margin-bottom: 4px;
              border: #000000;
              border-style:inset;
              background-color: #f2535b;
              color:whitesmoke;
                
            }
            .collapsible3-1{
              content: " "url("../image/red-star.png"); 
                font-family:"Nunito";
                cursor: pointer;
                text-align: left;
                font-weight: bolder;
                margin: auto;
                margin-bottom: 4px;
                border: #000000;
                border-style:inset;
                background-color: #fade8b;
                  
              }
            .collapsible3::before {
              content: "  "  url("../image/level-up/F13A\ sm.png");
              padding-right:8px;
              }
              
/* Style the list */
ul.breadcrumb {
padding: 10px 16px;
list-style: none;
background-color: #1abe7402;
}
/* Style the list */
ul.no {
padding: 10px 16px;
list-style: none;
background-color: #1abe7402;
}
li.no {
  list-style: none;
  }
/* Display list items side by side */
/**ul.breadcrumb {
font-size: 18px;
color:#313886;
padding-left: 04px;
padding-bottom: 2px;
padding-top: 2px;
content:url("/Code/Language/HTML/gold-star(inf-sm).gif");
}**/

li {
padding: 4px;
color: black;
content: "o";
list-style:none;

}
.pause::before {
  content: "  " url("/Code/Language/HTML/image/brown-star\(sm\).png");
  padding-right:8px;
  }
 .done::before {
content: "  " url("/Code/Language/HTML/image/gold-star(inf-sm).gif");
padding-right:8px;
}

a.doing::before,li.doing::before {
content: " " url("/Code/Language/HTML/image/pink-star\(sm\).png");
padding-right:8px;
}
.void::before {
  content: " " url("/Code/Language/HTML/image/no-star(sm).png");
  padding-right:8px;
  }
  .cal::before {
    content: " " url("/Code/Language/HTML/image/blue-star(sm).png");
    }
  .lock::before {
      content: " " url("/Code/Language/HTML/image/no-star(sm).png");
      padding-right:8px;
      }
      .late::before {
        content: " " url("/Code/Language/HTML/image/red-star\(sm\).png");
        padding-right:8px;
        }
      .wait::before {
        content: " " url("/Code/Language/HTML/image/purple-star(sm).png");
        padding-right:8px;
        }
        .rest::before {
          content: " " url("/Code/Language/HTML/image/green-star\(sm\).png");
          padding-right:8px;
          }
          .review::before {
            content: " " url("/Code/Language/HTML/image/blue-star\(sm\).png");
            padding-right:8px;
            }
          .again::before {
              content: " " url("/Code/Language/HTML/image/blue-star\(sm\).png");
              padding-right:8px;
              }

a.open::before,li::before {
content: " " url("/Code/Language/HTML/image/no-star1\(sm\).png");
padding-right:8px;
}

li::after {
content: "open";
margin-left: 20px;
background-color: rgb(213, 213, 207);
padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
          color: #191313;
          border-radius: 8px;;
          float:right;
}
li.late::after, li.due::after {
content: "due";
margin-left: 20px;
background-color: rgb(231, 3, 3);
padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
          color: #fefbfb;
          border-radius: 8px;;
          float:right;
}
li.next::after {
  content: "next";
  margin-left: 20px;
  background-color: rgba(238, 214, 2, 0.897);
  padding: 02px;
            text-align: left;
            padding-inline: 0.4em;
            color: #040404;
            border-radius: 8px;;
            float:inline-end;
  }
li.lock::after {
  content: "locked";
  margin-left: 20px;
  background-color: rgba(84, 7, 7, 0.897);
  padding: 02px;
            text-align: left;
            padding-inline: 0.4em;
            color: #c4c3c3;
            border-radius: 8px;;
            float:inline-end;
  }
  li.cal::after {
    content: "scheduled";
    margin-left: 20px;
    background-color: rgba(43, 133, 243, 0.981);
    padding: 02px;
              text-align: left;
              padding-inline: 0.4em;
              color: #ffffff;
              border-radius: 8px;;
              float:inline-end;
    }
    li.wait::after {
      content: "wait";
      margin-left: 20px;
      background-color: rgba(159, 29, 245, 0.651);
      padding: 02px;
                text-align: left;
                padding-inline: 0.4em;
                color: #ffffff;
                border-radius: 8px;;
                float:inline-end;
      }
    li.rest::after {
      content: "rest";
      margin-left: 20px;
      background-color: rgba(2, 250, 126, 0.997);
      padding: 02px;
                text-align: left;
                padding-inline: 0.4em;
                color: #000000;
                border-radius: 8px;;
                float:inline-end;
      }
      li.void::after {
        content: "void";
        margin-left: 20px;
        background-color: rgba(46, 4, 53, 0.44);
        padding: 02px;
                  text-align: left;
                  padding-inline: 0.4em;
                  color: #f8e8e8;
                  border-radius: 8px;;
                  float:inline-end;
        }
        li.review::after {
          content: "review";
          margin-left: 20px;
          background-color: rgb(0, 68, 255);
          padding: 02px;
                    text-align: left;
                    padding-inline: 0.4em;
                    color: #f8e8e8;
                    border-radius: 8px;;
                    float:inline-end;
          }
          li.again::after {
            content: "again";
            margin-left: 20px;
            background-color: rgb(0, 51, 255);
            padding: 02px;
                      text-align: left;
                      padding-inline: 0.4em;
                      color: #f8e8e8;
                      border-radius: 8px;;
                      float:inline-end;
            }
li.doing::after {
content: "in-progress";
margin-left: 20px;
background-color: rgba(255, 56, 116, 0.897);
padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
          color: #fff7f7;
          border-radius: 8px;;
          float:inline-end;
}
body {
  counter-reset: section;
}
h2 {
  counter-reset:subsection;
}
h3 {
  counter-reset:sub2section;
}

h2.level::before {
  counter-increment: section;
  content: "Section " counter(section) ": ";
}

h3::before {
  counter-increment: subsection;
  content: url("/Code/Language/HTML/image/brown-star\(sm\).png")" Section " counter(subsection) ": " ;
  padding-right:2px;
}
h3.done::before {
  counter-increment: subsection;
  content: url("/Code/Language/HTML/image/gold-star\(inf-sm\).gif")" Section " counter(subsection) ": " ;
  padding-right:2px;
}
h4:before {
  counter-increment: sub2section;
  content: url("/Code/Language/HTML/image/brown-star\(sm\).png")" Section " counter(subsection) "." counter(sub2section) ": ";
  padding-right:2px;
}
h4.done::before {
  counter-increment: subsection;
  content: url("/Code/Language/HTML/image/gold-star\(inf-sm\).gif")" Section " counter(subsection) ": " ;
  padding-right:2px;
}

h2.s-done::before {
  counter-increment: section;
  content: url("/Code/Language/HTML/image/gold-star\(inf-sm\).gif")" Area " counter(section) ": " ;
  padding-right:2px;
}
h2.s::before {
  counter-increment: section;
  content: url("/Code/Language/HTML/image/no-star\(sm\).png")" Area " counter(section) ": " ;
  padding-right:2px;
}

h3{
  background-color: #f0286b;
color: #fcfdff;
padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
          border-radius: 8px;
}
h4{
  background-color: #b34e84;
color: #fcfdff;
padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
          border-radius: 8px;
          font-size: 20px;
}
h2.s{
  background-color: #5668f1;
color: #fcfdff;
padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
          border-radius: 8px;
}
h1{
  background-color: #485cf3;
color: #fcfdff;
padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
          border-radius: 8px;
}

.done::after {
content: "done";
margin-left: 20px;
background-color: rgb(56, 255, 116);
padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
          color: #191313;
          border-radius: 8px;
          padding: right 2px;

}
li.pause::after {
content: "paused";
margin-left: 20px;
background-color: rgba(195, 140, 46, 0.505);
padding: 02px;
          text-align: left;
          padding-inline: 0.4em;
          color: #794e4e;
          border-radius: 8px;;
          float:right;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
padding: 4px;
color: black;
content:url("/Code/Language/HTML/gold-star(inf-sm).gif");
padding-right:8px;
}

ul.no li:before {
padding: 4px;
padding-right:8px;
  display: inline-block;
  margin-right: 6px;
}
ul.no li:after {
  padding: 4px;
  color: black;
  content:none;
  padding-right:8px;
  }

/* Add a color to all links inside the list */
ul.breadcrumb li a {
color: #5863a6af;
text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
color: #01447e;
text-decoration: underline;}

ul.done li+li:before {
  padding: 4px;
  color: black;
  content: "💚";
}
/* Style badges inside the list group */
span.badge0 {
background-color: rgba(17, 4, 79, 0.845);
color: #fff;
font-weight: bold;
border-radius: 8px;
padding: 2px 5px;
text-align: center;
margin-inline-start: 20px;
float:right;
}
/* Style badges inside the list group */
span.badge1 {
background-color: rgba(255, 0, 72, 0.845);
color: #f8f5f5;
font-weight: bold;
border-radius: 8px;
padding: 2px 5px;
text-align: center;
margin-inline-start: 20px;
float:right;
}
span.badge2 {
background-color: rgba(0, 255, 145, 0.845);
color: #171414;
font-weight: bold;
border-radius: 8px;
padding: 2px 5px;
text-align: center;
margin-inline-start: 10px;
float:right;
}
ul.doing
{
background-color: rgba(199, 208, 231, 0.751);
padding: 02px;
text-align: left;
padding-inline: 0.4em;
color: #292121;
border-radius: 8px;;
}

table,td,th{
  border-collapse: collapse;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-top:5px;
  border-style:outset;
padding-right: 32px;
}
tr {
  background-color: #ecf3fd;
}
th{
  background-color: rgba(22, 99, 243, 0.815);
  color: #faf2f2;
  font-weight: bolder;
}
table.skill, thead.skill, th {
  background-color: rgb(238, 21, 104);
}
th:first-of-type {
  border-top-left-radius: 08px;
}
th:last-of-type {
  border-top-right-radius: 08px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 08px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 08px;
}
td:first-of-type {
color: #231979;
border-style:outset;
font-weight: 600;
padding-right: 20px;
text-align: left;
}
table.habit,tr.habit,td.habit {
padding-right: 22px;

}
div.gold-star{
  background-image:url('../image/gold-star\(inf-sm\).gif');
  padding: 12.4px;
   background-repeat: no-repeat;
}
div.no-star{
  background-image:url('../image/no-star1\(sm\).png');
  padding: 12.4px;
  background-repeat: no-repeat;
}

ul.inv li:before{
  content:url('../image/gold-star\(inf-sm\).gif');
  background-color: rgb(246, 243, 245);
  padding: 2px;
            text-align: left;
            color: #f4efef;
            border-radius: 8px; /*rounding span*/
            padding: 8px; /*size of item box*/
            border-style: outset;
}

ul.inv li{ 
  background-color: #566f9522;
  padding-bottom: 12px;
  padding-block: 23;
  position: relative;
  right: 24px;
}

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid rgb(39, 14, 200);
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(45, 45, 129, 0.973);
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 12px 12;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  option {
    padding: 2px 2px;
    border-radius: 10px;
    float:inline-end;
    background-color: #0bc3fb;
    font-size: 14px;
  }
  select option { background: rgb(115, 255, 0); }

  select {
    padding: 2px 2px;
    border-radius: 10px;
    float:inline-end;
    
    font-size: 14px;
  }
 #au {
    background-color: rgb(14, 118, 187);
  }

  option.pause {
    padding: 2px 2px;
    border-radius: 10px;
    float:inline-end;
    background-color: #3CBC8D;
  }
  .badge {
    clear:right;
    float:inline-end;
   }
  span.lvl {
    background-color: rgba(250, 207, 64, 0.845);
    color: #171414;
    font-weight: bold;
    border-radius: 8px;
    padding: 1px 5px;
    margin-inline-start: 10px;
    float: inline;
      }

      span.lvl-area {
        background-color: rgba(253, 250, 238, 0.845);
        color: #171414;
        font-weight: bold;
        border-radius: 9px;
        padding: 1px 5px;
        margin-inline-start: 10px;
        float:inline-end;
        border-style:outset;
          }
          span.lvl-off {
            background-color: rgba(222, 220, 221, 0.845);
            color: #171414;
            font-weight: bold;
            border-radius: 8px;
            padding: 1px 5px;
            margin-inline-start: 10px;
            float: inline;
              }
          

      span.lvl-hard {
        background-color: rgba(250, 64, 104, 0.845);
        color: #171414;
        font-weight: bold;
        border-radius: 8px;
        padding: 1px 5px;
        margin-inline-start: 10px;
        float: inline;
          }
          span.lvl-baby {
            background-color: rgba(61, 150, 233, 0.753);
            color: #f5f1f1;
            font-weight: bold;
            border-radius: 8px;
            padding: 1px 5px;
            float: inline;
            margin-inline-start: 10px;
            margin-right: 2px;
            
              }
              span.due-2 , span.lvl-done{
                background-color: rgba(61, 233, 190, 0.753);
                color: #0b0000;
                font-weight: bold;
                border-radius: 8px;
                padding: 2px 5px;
                float: inline right;
                margin-inline-start: 10px;
                margin-right: 2px;
                  }
                  span.due-1 {
                    background-color: rgba(233, 219, 61, 0.753);
                    color: #0b0000;
                    font-weight: bold;
                    border-radius: 8px;
                    padding: 2px 5px;
                    float: inline right;
                    margin-inline-start: 10px;
                    margin-right: 2px;
                      }
                      span.due-0 {
                        background-color:  rgb(231, 3, 3);
                        color: #f7e4e4;
                        font-weight: bold;
                        border-radius: 8px;
                        padding: 2px 5px;
                        float: inline right;
                        margin-inline-start: 10px;
                        
                          }
              span.lvl-easy {
                background-color: rgba(33, 243, 54, 0.845);
                color: #171414;
                font-weight: bold;
                border-radius: 8px;
                padding: 2px 5px;
                margin-inline-start: 10px;
                float: inline;
                  }
                  span.lvl-rep:before {
                    content:"";
                    background-image: url("/Code/Language/HTML/image/fireA.png");
                    background-size: 25px 25px;
                    display: inline-block;

                    /*size of your image*/
                    height: 25px;
                    width:25px;
                  
                    /*if you want to change the position you can use margins or:*/
                    position:relative;
                    top:5px;}

                    span.lvl0-rep:before {
                      content:"";
                      background-image: url("/Code/Language/HTML/image/fireB.png");
                      background-size: 25px 25px;
                      display: inline-block;
  
                      /*size of your image*/
                      height: 25px;
                      width:25px;
                    
                      /*if you want to change the position you can use margins or:*/
                      position:relative;
                      top:5px;}

                  span.lvl-rep {
                    background-color: rgb(255, 223, 158);
                    color: #250a0a;
                    font-weight: bold;
                    border-radius: 8px;
                    padding: 2px 5px;
                    margin-inline-start: 10px;
                    float: right;
                      }

                      span.lvl0-rep {
                        background-color: rgb(192, 192, 192);
                        color: #787373;
                        font-weight: bold;
                        border-radius: 8px;
                        padding: 2px 5px;
                        margin-inline-start: 10px;
                        float: right;
                          }
      tr:nth-child(odd) {
        background-color: #f8fbff;
      }
      .sticky {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
      }
      .sticky-l {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        left: 0;
      }

      /* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  color: black;
  border-radius: 6px;
  background-image: url("../image/paper/white1.png");
}

/* Style the back side */
.flip-box-back {
  transform: rotateY(180deg);
  border-radius: 6px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 300px;
  border: 1px solid #f1f1f1;
  border-radius: 16px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 16px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-image: url("../image/paper/white1.png");
  background-size: contain;
  color: black;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
  border-radius: 6px;
  background-image:url("../image/paper/white1.png");
  background-size: contain;
}
p.flash {
  background-color: transparent;
  margin-top:-10.5px;
  color: #535151;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #0e0e0e;
  float: right;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid  #ab6a80;
}
#nm { /*# to change element , . to change class**/
  color: #2159f4; 
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*Character Animation Sprites*/
.char-idle {
  width: 65px;
  height: 100px;
  background: url('../image/char/skin-1-all.png') left center;
  animation: play 2s steps(9) infinite;
}
.char-move-R {
  width: 58px;
  height: 100px;
  background: url('../image/char/all-move-R.png') left center;
  animation: play-move-R 2s steps(9) infinite;
}
.char-move-L {
  width: 58px;
  height: 100px;
  background: url('../image/char/all-move-L.png') left center;
  animation: play-move-L 1.5s steps(9) infinite;
}
@keyframes play {
  100% { 
    background-position: -2303px; 
  }
}
@keyframes play-move-R {
  100% { 
    background-position: 2816px; 
  }
}
@keyframes play-move-L {
  100% { 
    background-position: -2799.4px; 
  }
}

/*Change the color of button by status*/
button.w:hover, button.w:active {
  background: red;
}
.newStyle,button.a, button.a:active {
  background: rgb(244, 218, 24);
  color:black;
}
.myStyle,button.d:hover, button.d:active {
  background: rgb(5, 214, 89);
  color:black;
}
button.d {
  background: rgb(17, 218, 161);
  color:black;
}
button.c, button.c:active {
  background: rgb(230, 224, 230);
}
button.h, button.h:active {
  background: rgb(227, 101, 122);
}

/*Change the tooltip color*/
span.skill {
  display:none;
  position: absolute;
  position: fixed;
  background-color: #f9e12b;
  float:inline-end;
}
button.d span.skill {
  display:none;
  position: absolute;
  position: fixed;
  background-color: #6bfdb9;
  float:inline-end;
}
button.c span.skill {
  display:none;
  position: absolute;
  position: fixed;
  background-color: #dbdbdb;
  float:inline-end;
}
button.h span.skill {
  display:none;
  position: absolute;
  position: fixed;
  background-color: #f1c1c1;
  float:inline-end;
}

button:hover  span.skill {
display:block;
}

/*Progress bar*/
#myProgress {
  width: 90%;
  background-color: #ddd;
  border-radius: 8px;
  border: #665656;
  border-style:groove;

}


#myBar {
  width: 0%;
  height: 30px;
  background-color: #464edb;
  border-radius: 8px;
  border: #534c4c;
  border-style:groove;
}

/*Testing tabs*/
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #afb9d5;
  background-color: #f1f1f1;
  color:black;
   padding: 14px 16px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color:rgb(201, 197, 197);
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #e1dfe1;
  color:rgb(111, 90, 90);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#container-world {
  min-width: 120px;
  max-width: 100px;
  margin: 0 auto;
  height: 100px;
}

#step::before { /*id*/
  content: counter(count,decimal-leading-zero);
  padding: 3.3px;
  background-color:#205dedd6;
  color:whitesmoke;
  border-radius: 8px;
  margin-right: 10px; /*space to the right*/
  margin-left:-6px;
  font-weight: 700;
  }
  ol div {counter-reset: count;
  }
  li#step {counter-increment: count;}

  .progress-container {
    width: 90%;
    background-color: #edecec;
    border-radius: 8px;
    border: #665656;
    border-style:inset;
  }
  
  .progress-bar {
    height: 20px;
    /*background-color: #52e157; green*/
    /*background-color: #e6dd3b; yellow*/
    background-color: #b852e1;
    border-radius: 4px;
    width: 00%;
  }

  .progress-bar1 {
    height: 20px;
    /*background-color: #52e157; green*/
    background-color: #e6dd3b;
    border-radius: 4px;
    width: 0%;
  }

  .progress-bar2 {
    height: 20px;
    /*background-color: #52e157; green*/
    background-color: #3b9fe6;
    border-radius: 4px;
    width: 0%;
  }

  .progress-bar3 {
    height: 20px;
    /*background-color: #52e157; green*/
    background-color: #e63b4c;
    border-radius: 4px;
    width: 0%;
  }

  /*Change color of timeline items*/
  .vis-item.red {
    color: white;
    background-color: rgb(255, 0, 85);
    border-color: darkred;
  }

  .vis-item.yellow {
    background-color: rgb(255, 225, 0);
    border-color: darkred;
  }

  .vis-item.mint {
    color: rgb(29, 19, 19);
    background-color: rgb(0, 255, 132);
    border-color: darkred;
  }
  .vis-item.blue {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 170, 255);
    border-color: rgb(26, 112, 224);
  }
  .vis-item.job {
    color: rgb(0, 0, 0);
    background-color: rgb(225, 142, 255);
    border-color: rgb(26, 112, 224);
  }
  .vis-item {
    border-color: rgb(255, 0, 51);
    background-color: rgb(169, 169, 159);
    color:#2063ff;
  }

    /* alternating column backgrounds */
    .vis-time-axis .vis-grid.vis-odd {
      background: #e8e5e5;
    }
  
    /* gray background in weekends, white text color */
    .vis-time-axis .vis-grid.vis-saturday,
    .vis-time-axis .vis-grid.vis-sunday {
      background: rgb(231, 230, 230);
    }
    .vis-time-axis .vis-text.vis-saturday,
    .vis-time-axis .vis-text.vis-sunday {
      color: rgb(48, 37, 37);
    }
    .vis-time-axis .vis-text.vis-today {
      background-color: rgba(173, 137, 155, 0.147);
      color:rgb(9, 5, 5);
    }
    .vis-time-axis .vis-text.vis-tomorrow {
      background-color: rgba(166, 196, 214, 0.299);
      color:rgb(9, 5, 5);
    }
    .vis-time-axis .vis-text.vis-current-week {
      background-color: rgba(58, 224, 246, 0.299);
      color:rgb(9, 5, 5);
    }

  #increment-btn,
  #decrement-btn,
  #reset {
      font-size: 12px;
      margin: 1px;
  }
  
  #reset {
      font-size: 20px;
  }
  
  #counter-value {
      height: 2px;
      border-radius: 10px;
    
      font-size: 17px;
  
  }