/*CSS Comment*/
html {
    background-color:rgb(251, 251, 247);
    }
p {
    color: black;
    }
  
html {
    font-size: 16px; 
    font-family: "Nunito", sans-serif; 
    }

 .box1 {
    border: 01px solid purple;
    border-radius: 9em;
    background-color: #BF55FF50;
    }

 .box2 {
        border: 01px solid blue;
        border-radius: 9em;
        background-color: #55d4ff50;
        }

 .box-tag {
            border: 01px solid red;
            border-radius: 9em;
            background-color: #ff555550;
            }
span.person{ /*a class*/
    color:blue;
}

#person { /*unique identifier*/
    color:rgb(0, 60, 255);
    font-weight: bold;
}
#numitems {
    color:rgb(0, 102, 254);
    font-weight: bold;
}
#items {
    color:rgb(0, 102, 254);
    font-weight: bold;
}
#place {
    color:rgb(22, 96, 255);
    font-weight: bold
}
#language {
    color:rgb(255, 25, 67);
    font-weight: bold
}